Diabetes_Melitus_Prediction.json
[{"id":"8dc10266.afef5","type":"tab","label":"Diabetes Mellitus Prediction","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"8dc10266.afef5","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["a2936cc3.128dd"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"8dc10266.afef5","name":"","active":true,"console":"false","complete":"false","x":1110,"y":60,"wires":[]},{"id":"a2936cc3.128dd","type":"function","z":"8dc10266.afef5","name":"Pre-Token","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"8ZfIivomzFoRvn-GZkj2mP-S1wrtQH5k_M0R0LEfKiEr\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":180,"wires":[["fa10b10a.6e2eb"]]},{"id":"fa10b10a.6e2eb","type":"http request","z":"8dc10266.afef5","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":180,"wires":[["fb4fd8fa.bacbe8"]]},{"id":"fb4fd8fa.bacbe8","type":"function","z":"8dc10266.afef5","name":"Pre-Prediction","func":"var preg = global.get(\"preg\")\nvar plas = global.get(\"plas\")\nvar pres = global.get(\"pres\")\nvar skin = global.get(\"skin\")\nvar test = global.get(\"test\")\nvar mass = global.get(\"mass\")\nvar pedi = global.get(\"pedi\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \"plas\", \"pres\", \"skin\",\"test\", \"mass\", \"pedi\", \"age\"]],\"values\": [[preg, plas, pres, skin, test, mass,pedi, age ]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[["83a566a3.e5b5c8"]]},{"id":"83a566a3.e5b5c8","type":"http request","z":"8dc10266.afef5","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/12b203eb-7103-47d5-aab3-36ad55d0739f/predictions?version=2020-10-09","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":260,"wires":[["4b40475b.969698"]]},{"id":"7222076a.bbba28","type":"ui_form","z":"8dc10266.afef5","name":"Diabetes Melitus Prediction Machine","label":"ENTER PERSON INFOMRATION HERE","group":"fdc425b1.ef5718","order":0,"width":0,"height":0,"options":[{"label":"preg","value":"preg","type":"number","required":true,"rows":null},{"label":"plas","value":"plas","type":"number","required":true,"rows":null},{"label":"pres","value":"pres","type":"number","required":true,"rows":null},{"label":"skin","value":"skin","type":"number","required":true,"rows":null},{"label":"test","value":"test","type":"number","required":true,"rows":null},{"label":"mass","value":"mass","type":"number","required":true,"rows":null},{"label":"pedi","value":"pedi","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":320,"y":340,"wires":[["a2936cc3.128dd"]]},{"id":"4b40475b.969698","type":"function","z":"8dc10266.afef5","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":420,"wires":[["f2f2649a.0d0d98","e72e3cb1.b9487"]]},{"id":"e72e3cb1.b9487","type":"ui_text","z":"8dc10266.afef5","group":"fdc425b1.ef5718","order":1,"width":"6","height":"2","name":"Diabetes Melitus Prediction Output","label":"Diabetes Prediction Output :","format":"{{msg.payload}}","layout":"col-center","x":1370,"y":160,"wires":[]},{"id":"fdc425b1.ef5718","type":"ui_group","z":"","name":"Diabetes Melitus Prediction","tab":"10a92dd7.fd73e2","order":1,"disp":true,"width":"6","collapse":false},{"id":"10a92dd7.fd73e2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]